/*
pa.js
Author: Willie Lawrence
Email: cptx032 arroba gmail dot com
*/

body {
	overflow: hidden;
}

.pa-toast {
	transition: left 1s, right 1s, bottom 1s, top 1s;
	-webkit-transition: left 1s, right 1s, bottom 1s, top 1s;
	-moz-transition: left 1s, right 1s, bottom 1s, top 1s;
	-o-transition: left 1s, right 1s, bottom 1s, top 1s;
}

.pa-toast-bg {
	background-color: #ffffff;
	z-index: 99999;
}

.pa-toast-fg {
	text-align: center;
	z-index: 100000;
}

input.pa {
	margin: 0px;
	padding: 0px;
	text-align: center;

	background-color: transparent;

	border-left: 0px none;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 1px solid #555;
	transition: border-color 0.5s;
	/* remove chrome focus thickness */
	outline: none;

	color: white;
}

input.pa:focus {
	border-bottom: 1px solid #00aacc;
}

button.pa {
	padding: 0px;
	margin: 0px;
	border-width: 0px;

	border-style: solid;
	/*background-color: transparent;*/
	background-color: #3498db;
	color: white;
}

button.pa.pa-toast-button-cancel {
	background-color: #c0392b;
	/*background-color: transparent;*/
}

/*/// TABS */
.pa-tab-menu-item {
	border-bottom: 2px solid rgba(39, 174, 96, 0);
	font-weight: normal;
	transition: border-color 0.8s;
	-webkit-transition: border-color 0.5s;
	padding-top: 15px;
	padding-bottom: 15px;
	/*margin: 0px;*/
}
.pa-tab-menu-item-active {
	border-color: #2980b9;
	font-weight: bold;
}
.pa-tab-content-item {
	transition: left 1s;
}

.pa-menu-item {
	border-top: 1px solid rgb(100, 100, 100);
	padding-top: 10px;
}

.pa-hidden {
	display: none;
}

.pa-label-check {
	position: relative;
	display: block;
	height: 20px;
	width: 44px;
	background: #898989;
	border-radius: 100px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.pa-label-check:after {
	position: absolute;
	left: -2px;
	top: -3px;
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 100px;
	background: #fff;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
	content: '';
	transition: all 0.3s ease;
}

.pa-label-check:active:after {
	transform: scale(1.15, 0.85);
}

.pa-check-box:checked ~ label {
	background: #6fbeb5;
}

.pa-check-box:checked ~ label:after {
	left: 20px;
	background: #179588;
}

.pa-check-box:disabled ~ label {
	background: #d5d5d5;
	pointer-events: none;
}

.pa-check-box:disabled ~ label:after {
	background: #bcbdbc;
}